{:kotoba.app/id "cloud.itonami.isic-0610", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreid5apbtmbba6zjwd43nqpavlulji6vezagddpzgmmefjzkhuol7te", :kotoba.app/embed-url "ipfs://bafkreid5apbtmbba6zjwd43nqpavlulji6vezagddpzgmmefjzkhuol7te", :published {:archive "https://kotobase.net/ipfs/bafkreid5apbtmbba6zjwd43nqpavlulji6vezagddpzgmmefjzkhuol7te", :size 72550, :put-status 201, :get-status 200, :at "2026-08-15T13:42:35.366Z"}}
